body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 10px auto;
}

.pane-container {
  display: flex;
}

.pane-left {
  flex: 0 0 auto;
  width: 25%
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

.sidebar {
  margin: 2rem auto;
}

.pane-right {
  flex: 0 1 auto;
  width: 75%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.main {
  margin: 2rem auto;
}

/* Responsive grid vs 2 Fixed rules
Goal: a 'preview' sized grid and a 'main' grid

You can have a response grid: https://stackoverflow.com/questions/20456694/grid-of-responsive-squares

But the problem is scaling text ('O' and 'X') in response as well
*/

.square, .preview {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
}

.square {
  font-size: 48px;
  height: 68px;
  width: 68px;
}

.preview {
  font-size: 24px;
  height: 34px;
  width: 34px;
}

.win {
  border: 2px solid green;
}

.square:focus, .preview:focus {
  outline: none;
}

.kbd-navigation .square:focus .preview:focus {
  background: #ddd;
}
